<section class="committees" aria-labelledby="committees-title">
  <div class="container container--home">
    <h1 class="committees__title" id="committees-title">Committees</h1>

    <div class="committees__stack">
      <article class="committee-card committees__card">
        <h2 class="committees__heading">CONFERENCE CHAIRMEN</h2>
        <ul class="committees__list">
          <li>
            Karol Kyslan, Technical University of Košice, Slovakia – chairman
          </li>
          <li>Jadranko Matuško, University of Zagreb, Croatia – chairman</li>
          <li>
            Viliam Fedák, Technical University of Košice, Slovakia – honorary
            chariman
          </li>
        </ul>
      </article>

      <article class="committee-card committees__card">
        <h2 class="committees__heading">PROGRAM CHAIRMEN</h2>
        <ul class="committees__list">
          <li>Marek Pástor – Technical University of Košice, Slovakia</li>
          <li>Željko Jakopović – University of Zagreb, Croatia</li>
        </ul>
      </article>

      <article class="committee-card committees__card">
        <h2 class="committees__heading">TECHNICAL PROGRAM COMMITTEE</h2>
        <ul class="committees__list">
          <li>
            Gheorghe-Daniel Andreescu – Politehnica University of Timisoara,
            Romania
          </li>
          <li>
            Goce Arsov – Ss Cyril and Methodius University, Skopje, North
            Macedonia
          </li>
          <li>Drago Ban – University of Zagreb, Croatia</li>
          <li>
            Jan Bauer – Czech Technical University, Prague, Czech Republic
          </li>
          <li>Pavol Bauer – Delft University of Technology, The Netherlands</li>
          <li>Stefan Brock – Poznan University of Technology, Poland</li>
          <li>Mihai Cernat – Transilvania University of Brașov, Romania</li>
          <li>
            Josef Cernohorsky – Technical University of Liberec, Czech Republic
          </li>
          <li>
            Zdenek Cerovsky – Czech Technical University, Prague, Czech Republic
          </li>
          <li>
            Goga Cvetkovski – Ss Cyril and Methodius University, Skopje, North
            Macedonia
          </li>
          <li>Branislav Dobrucky – University of Zilina, Slovakia</li>
          <li>
            Tomislav Dragicevic – Technical University of Denmark, Denmark
          </li>
          <li>Peter Drgona – University of Zilina, Slovakia</li>
          <li>Jaroslav Dudrik – Technical University of Kosice, Slovakia</li>
          <li>Frantisek Durovsky – Technical University of Kosice, Slovakia</li>
          <li>Mateusz Dybkowski – Wroclaw University of Technology, Poland</li>
          <li>Zelmira Ferkova – Technical University of Košice, Slovakia</li>
          <li>Dénes Fodor – University od Panonia, Gyor, Hungary</li>
          <li>Michal Frivaldsky – University of Zilina, Slovakia</li>
          <li>
            Levon Gevorkov – Catalonia Institute for Energy Research (IREC),
            Spain
          </li>
          <li>Peter Girovsky – Technical University of Košice, Slovakia</li>
          <li>Ioan Mircea Gordan – University of Oradea, Romania</li>
          <li>Milan Guzan – Technical University of Košice, Slovakia</li>
          <li>Zdenek Hadas – Brno University of Technology, Czech Republic</li>
          <li>
            Sandor Halasz – Budapest Univ. of Technology and Economics, Hungary
          </li>
          <li>
            Mikuláš Huba – Slovak Technical University, Bratislava, Slovakia
          </li>
          <li>Jaeho Choi – Chungbuk National University, Republic of Korea</li>
          <li>Sandor Iles – University of Zagreb, Croatia</li>
          <li>Zeljko Jakopovic – University of Zagreb, Croatia</li>
          <li>Stepan Janous – University of West Bohemia, Czech Republic</li>
          <li>
            Zbigniew Kaczmarczyk – Silesian Univ. of Technology, Gliwice, Poland
          </li>
          <li>Vladimir Katic – University of Novi Sad, Serbia</li>
          <li>Seiichiro Katsura – Keio University, Japan</li>
          <li>
            Marian P. Kazmierkowski – Warsaw University of Technology, Poland
          </li>
          <li>
            Teresa Orlowska-Kowalska – Wroclaw University of Technology, Poland
          </li>
          <li>Vladimir Kindl – University of West Bohemia, Czech Republic</li>
          <li>
            Peter Korondi – Budapest Univ. of Technology and Economics, Hungary
          </li>
          <li>Zdnko Kovacic – University of Zagreb, Croatia</li>
          <li>Vaclav Kus – University of West Bohemia, Czech Republic</li>
          <li>Martina Kutija – University of Zagreb, Croatia</li>
          <li>Milan Lacko – Technical University of Košice, Slovakia</li>
          <li>Dan Lascu – Polytechnic University of Timisoara, Romania</li>
          <li>Jiri Lettl – Czech Technical University in Prague</li>
          <li>
            Dusan Maga – Czech Technical University, Prague, Czech Republic
          </li>
          <li>Pavol Makys – University of Zilina, Slovakia</li>
          <li>Jan Michalik – University of West Bohemia, Czech Republic</li>
          <li>Miro Milanovic – University of Maribor, Slovenia</li>
          <li>Babak Nahid-Mobarakesh – McMaster University, Canada</li>
          <li>
            Miroslav Novak – Technical University of Liberec, Czech Republic
          </li>
          <li>
            Peter Palacky – VSB – Technical University of Ostrava, Czech
            Republic
          </li>
          <li>Denis Pelin – University of Osijek, Croatia</li>
          <li>Daniela Perdukova – Technical University of Kosice, Slovakia</li>
          <li>Nedjeljko Peric – University of Zagreb, Croatia</li>
          <li>Zdenek Peroutka – University of West Bohemia, Czech Republic</li>
          <li>Ivan Petrovic – University of Zagreb, Croatia</li>
          <li>Luka Pravica – University of Zagreb, Croatia</li>
          <li>Pavol Rafajdus – University of Zilina, Slovakia</li>
          <li>
            Ales Richter – Technical University of Liberec, Czech Republic
          </li>
          <li>Helga Silaghi – University of Oradea, Romania</li>
          <li>Alexandru Marius Silaghi – University of Oradea, Romania</li>
          <li>Vladislav Singule – Brno Univ. of Technology, Czech Republic</li>
          <li>Bohumil Skala – University of West Bohemia, Czech Republic</li>
          <li>Mariusz Stepien – Silesian University of Technology, Poland</li>
          <li>Stjepan Stipetic – University of Zagreb, Croatia</li>
          <li>Viktor Sunde – University of Zagreb, Croatia</li>
          <li>Krzysztof Szabat – Wroclaw University of Technology, Poland</li>
          <li>Lorand Szabo – University of Cluj, Romania</li>
          <li>Pavol Spanik – University of Zilina, Slovakia</li>
          <li>Grzegorz Tarchala – Wroclaw University of Technology, Poland</li>
          <li>Bozo Terzic – University of Split, Croatia</li>
          <li>Daniel Nistor Trip – University of Oradea, Romania</li>
          <li>Mitja Truntic – University of Maribor, Slovenia</li>
          <li>
            Viktor Valouch – Czech Technical Univ., Prague, Czech Republic
          </li>
          <li>Mario Vasak – University of Zagreb, Croatia</li>
          <li>Prasanth Venugopal – University of Twente, Netherlands</li>
          <li>Dmitri Vinnikov – Tallin University of Technology, Estonia</li>
          <li>Ondrej Vitek – Brno University of Technology, Czech Republic</li>
          <li>Dinko Vukadinovic – University of Split, Croatia</li>
          <li>Helmut Weiss – University of Leoben, Austria</li>
          <li>Damir Zarko – University of Zagreb, Croatia</li>
          <li>Pavel Zaskalicky – Technical University of Košice, Slovakia</li>
          <li>Krzysztof Zawirski – Poznan University of Technology, Poland</li>
          <li>
            Genadij Stepanovic Zinoviev – Novosibirsk State Techn. Univ., Russia
          </li>
        </ul>
      </article>

      <article class="committee-card committees__card">
        <h2 class="committees__heading">LOCAL ORGANIZING COMMITTEE</h2>
        <ul class="committees__list">
          <li>Viliam Fedák – Conference Guru</li>
          <li>Karol Kyslan – Proceedings, IEEE Xplore, Webpage</li>
          <li>Marek Pástor – Venue &amp; accommodation, Proceedings</li>
          <li>Viktor Šlapák – Registration desk, Social programme</li>
          <li>Milan Guzan – Finance Chairman</li>
          <li>Matěj Pácha – Chair of IEEE Czechoslovakia Section</li>
          <li>Milan Lacko – Databases</li>
          <li>Lukas Pancurak – Assistant</li>
          <li>Daniel Marcin – Assistant</li>
          <li>David Bodnar – Assistant</li>
        </ul>
      </article>
    </div>
  </div>
</section>
